In [2]:
# importing necessary libraries to be used in the code
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
from sklearn.svm import SVC, LinearSVC
import seaborn as sns
sns.set(style="white", color_codes=True)
import warnings
warnings.filterwarnings("ignore")
from sklearn import preprocessing
from sklearn.cluster import KMeans
from sklearn import metrics

In [3]:
df= pd.read_csv("CC GENERAL.csv")  # Taking the input file and storing it as a dataframe df
df.head()  # Printing the top 5 rows of the dataframe

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

In [4]:
print(df['TENURE'].value_counts())  # Printing the frequency of the Tenure Column in the dataframe
x = df.iloc[:,[1,2,3,4]] # Taking the 4 columns as X data
y = df.iloc[:,-1] # taking the Tenure Column as Y
print(x) # Printing the X
print(y) # Printing the variable Y

12    7584
11     365
10     236
6      204
8      196
7      190
9      175
Name: TENURE, dtype: int64
          BALANCE  BALANCE_FREQUENCY  PURCHASES  ONEOFF_PURCHASES
0       40.900749           0.818182      95.40              0.00
1     3202.467416           0.909091       0.00              0.00
2     2495.148862           1.000000     773.17            773.17
3     1666.670542           0.636364    1499.00           1499.00
4      817.714335           1.000000      16.00             16.00
...           ...                ...        ...               ...
8945    28.493517           1.000000     291.12              0.00
8946    19.183215           1.000000     300.00              0.00
8947    23.398673           0.833333     144.40              0.00
8948    13.457564           0.833333       0.00              0.00
8949   372.708075           0.666667    1093.25           1093.25

[8950 rows x 4 columns]
0       12
1       12
2       12
3       12
4       12
        ..
8945     6
8946     6
8947     6
8948     6
8949     6
Name: TENURE, Length: 8950, dtype: int64

In [6]:
le = preprocessing.LabelEncoder() # # # Calling the StandardScaler method to the stdsc variable
df['CUST_ID'] = le.fit_transform(df.CUST_ID.values) # Fitting the Cust Id 
pca2 = PCA(n_components=2) # Calling PCA module with 2 components
principalComponents = pca2.fit_transform(x) # Fitting the X into PCA
principalDf = pd.DataFrame(data = principalComponents, columns = ['principal component 1', 'principal component 2']) #Creating a dataframe with 3 columns for variable x
finalDf = pd.concat([principalDf, df[['TENURE']]], axis = 1)# Adding the variable y to the dataframe
finalDf.head() # printing the top 5 rows of the dataframe

   principal component 1  principal component 2  TENURE
0           -1500.250819           -1114.178407      12
1            -592.910661            1914.657567      12
2             217.734556             905.144354      12
3             927.782551            -198.923616      12
4           -1310.548986            -359.591021      12

In [7]:
# Applying Kmeans to pca data
x_pca = finalDf[['principal component 1','principal component 2']] # Taking  'principal component 1', 'principal component 2' as X
y_pca = finalDf[['TENURE']]  # Taking the Tenure as Y
nclusters = 2 # this is the k in kmeans 
km = KMeans(n_clusters=nclusters) # Calling Kmeans clustring to the variable m
km.fit(x_pca) # Fitting the train data into the model

y_cluster_kmeans_pca = km.predict(x_pca) # predicting the test data accuracy 

score_pca = metrics.silhouette_score(x_pca, y_cluster_kmeans_pca) # calculating the accuracy of the model output
print(score_pca) # printing the output score

0.7548861694539754

In [8]:
# Applying Kmeans to raw data
nclusters = 2 # this is the k in kmeans 
km = KMeans(n_clusters=nclusters) # Calling Kmeans clustring to the variable km
km.fit(x)  # Fitting the train data into the model

# predict the cluster for each data point
y_cluster_kmeans = km.predict(x) # predicting the test data accuracy 

score = metrics.silhouette_score(x, y_cluster_kmeans)   # calculating the accuracy of the model output
print(score) # printing the output score

0.7526240640619958

In [9]:
# Applying Scaling to raw data
scaler = StandardScaler()  # Taking the class as Y
X_Scale = scaler.fit_transform(x) # Fitting the X data to Scaler method.

pca2 = PCA(n_components=2) # Calling PCA with 2 components
principalComponents = pca2.fit_transform(X_Scale) # Fitting the X into PCA

principalDf1 = pd.DataFrame(data = principalComponents, columns = ['principal component 1', 'principal component 2'])  #Creating a dataframe with 2 columns for variable x

finalDf1 = pd.concat([principalDf1, df[['TENURE']]], axis = 1) # Adding the variable y to the dataframe
print(finalDf1.head()) # printing the top 5 rows of the dataframe

   principal component 1  principal component 2  TENURE
0              -0.786173               0.422114      12
1              -0.278329              -0.803393      12
2               0.255916              -0.630364      12
3               0.277478               0.873840      12
4              -0.510060              -0.341918      12

In [10]:
# Applying Kmeans to scaled pca data
x_pca_scaled = finalDf1[['principal component 1','principal component 2']] # Taking  'principal component 1', 'principal component 2' as X of scaled data
y_pca_scaled = finalDf1[['TENURE']] # # Taking the Tenure as Y from scaled data
nclusters = 2 # this is the k in kmeans 
km = KMeans(n_clusters=nclusters) # Calling Kmeans clustring to the variable m for scaled data
km.fit(x_pca_scaled)  # Fitting the train scaled data into the model

y_cluster_kmeans_pca_scaled = km.predict(x_pca_scaled) # # predicting the test data accuracy  for scaled data

score_pca_Scaled = metrics.silhouette_score(x_pca_scaled, y_cluster_kmeans_pca_scaled)    # calculating the accuracy of the model output
print(score_pca_Scaled) # printing the output score

0.715024578646725

In [11]:
# applying model for scaled raw data
nclusters = 2 # this is the k in kmeans
km = KMeans(n_clusters=nclusters)  # Calling Kmeans clustring to the variable m for scaled raw data
km.fit(X_Scale)   # Fitting the train scaled raw data into the model

# predict the cluster for each data point
y_cluster_kmeans = km.predict(X_Scale) # # predicting the test data accuracy  for scaled raw data
score = metrics.silhouette_score(X_Scale, y_cluster_kmeans) # calculating the accuracy of the model output for scaled raw data
print(score) # Printig the output score for scaled raw data

0.669864455390754